<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h1>Registration</h1>
</div>

<h3>Enter user name and password:</h3>
<form th:object="${account}" th:action="@{/setAccount}" method='POST'>
  <table>
    <tr>
      <td>User:</td>
      <td><input type='text' name='username' value='' th:field="*{userName}">
           <!--/*@thymesVar id="userError" type=""*/-->
           <p th:utext="${userError}"></p>
      </td>

    </tr>
    <tr>
      <td>Password:</td>
      <td><input type='password' name='password' th:field="*{encrytedPassword}" />

      </td>
    </tr>
    <tr>
      <td>Confilm  Password:</td>
      <td>
        <input type='password' name='testPassword'  />
        <p th:utext="${passwordError}"></p>
      </td>
    </tr>

    <tr>
      <td><input name="submit" type="submit" value="submit" /></td>
    </tr>
  </table>
</form>
</body>

</html>